<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>接口文档</title>
</head>

<a href="swagger.json" target="_blank">点击下载swagger.json</a><br/>

<xmp theme="cerulean" style="display:none;">
    {{>markdown}}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>
